@media 	only screen and (max-width: 480px) {
	.p_1 {
		display: none;
	}

	.main_a {
		display: none;
	}

	.main_img {
		display: none;
	}

	.img_3 {
		height: 33px;
	}

	article {

	}
	
	.main_content {
		text-align: center;
	}

	.h_1 {
		font-size: 33px;
	}

	.p_2 {
		font-size: 18px;
	}

	.img_2 {
		width: 87vw;
		height: unset;	
		bottom: 0;	
		top: 88%;
	}

	#prototype {
		height: 100vh;
	}

	.h_3 {
		text-align: center;
		display: block;
		margin: 0 auto;
		margin-left: unset;
		padding-top: 210px;
		margin-bottom: 180px;
	}

	.text_1 {
		font-size: 40px;
	}

	.korobka {
		width: 75vw;
		top: -65px;
		left: 50%;
		right: 0;
		bottom: 0;
		transform: translate(-50%, -50%);
	}

	.main_text {
		margin: 0 auto;
		width: 92%;
		text-align: center;
		padding-top: 80px;
	}

	.text_1 {
		font-size: 30px;
	}

	.text_2 {
		font-size: 20px;
	}

	#prototype_2 {
		padding-bottom: 93px;
	}

}
